.MailButton {
  background-color: blue;
  text-decoration-color: white;
  border: none;
}

.body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
  word-break: break-word;
  padding-bottom: 108px;
}

.footer {
  width: 48px;
  height: 48px;
  color: black;
}

.icon {
  color: blue;
}

.button {
  border: none;
  width: 48px;
  height: 26px;
  flex-shrink: 0;
}

.dark {
  color: white;
  background-color: #252525;
}

.img {
  width: 398px;
  height: 398px;
  flex-shrink: 0;
  border-radius: 384px;
  background: #C4C4C4;
}